In [1]:
import pandas as pd

In [82]:
df = pd.DataFrame ({
    "Columna1": [100, 200, 300],    
    "Columna2": [400, 500, 600],    
    "Columna3": [700, 800, 900],    
}, index = ["f1","f2","f3"])

df

    Columna1  Columna2  Columna3
f1       100       400       700
f2       200       500       800
f3       300       600       900

    Columna1  Columna2  Columna3
f1       100       400       700
f2       200       500       800
f3       300       600       900

In [84]:
df.loc["f1"]

Columna1    100
Columna2    400
Columna3    700
Name: f1, dtype: int64

In [14]:
type(df.loc["f1"])

pandas.core.series.Series

In [86]:
df.loc["f1" :"f3"]

    Columna1  Columna2  Columna3
f1       100       400       700
f2       200       500       800
f3       300       600       900

In [130]:
df.loc[df["f1"] > 100 ]

KeyError: 'f1'

In [121]:
df.loc[:, ["Columna1", "Columna2"]]

    Columna1  Columna2
f1       100       400
f2       200       500
f3       300       600

In [119]:
df.loc[[False, True, False]]

    Columna1  Columna2  Columna3
f2       200       500       800

In [132]:
df.iloc[0]

Columna1    100
Columna2    400
Columna3    700
Name: f1, dtype: int64

In [134]:
df.iloc[:, [0,1]]

    Columna1  Columna2
f1       100       400
f2       200       500
f3       300       600

In [136]:
df.iloc[1:3]

    Columna1  Columna2  Columna3
f2       200       500       800
f3       300       600       900