In [5]:
import pandas as pd

In [18]:
fechas = pd.Series(pd.date_range("20250404", periods=6))
fechas

0   2025-04-04
1   2025-04-05
2   2025-04-06
3   2025-04-07
4   2025-04-08
5   2025-04-09
dtype: datetime64[ns]

In [21]:
type(fechas)

pandas.core.series.Series

In [23]:
fechas = pd.Series(pd.date_range("20250404", periods=6, freq="D"))
fechas

0   2025-04-04
1   2025-04-05
2   2025-04-06
3   2025-04-07
4   2025-04-08
5   2025-04-09
dtype: datetime64[ns]

In [31]:
fechas = pd.Series(pd.date_range("20250404", periods=6, freq="ME"))
fechas

0   2025-04-30
1   2025-05-31
2   2025-06-30
3   2025-07-31
4   2025-08-31
5   2025-09-30
dtype: datetime64[ns]

In [91]:
fechas = pd.Series(pd.date_range("20250404", periods=6, freq="YE"))
fechas

0   2025-12-31
1   2026-12-31
2   2027-12-31
3   2028-12-31
4   2029-12-31
5   2030-12-31
dtype: datetime64[ns]

In [39]:
fechas = pd.Series(pd.date_range("20250404", periods=6, freq="h"))
fechas

0   2025-04-04 00:00:00
1   2025-04-04 01:00:00
2   2025-04-04 02:00:00
3   2025-04-04 03:00:00
4   2025-04-04 04:00:00
5   2025-04-04 05:00:00
dtype: datetime64[ns]

In [43]:
fechas = pd.Series(pd.date_range("20250404", periods=6, freq="min"))
fechas

0   2025-04-04 00:00:00
1   2025-04-04 00:01:00
2   2025-04-04 00:02:00
3   2025-04-04 00:03:00
4   2025-04-04 00:04:00
5   2025-04-04 00:05:00
dtype: datetime64[ns]

In [47]:
fechas = pd.Series(pd.date_range("20250404", periods=6, freq="s"))
fechas

0   2025-04-04 00:00:00
1   2025-04-04 00:00:01
2   2025-04-04 00:00:02
3   2025-04-04 00:00:03
4   2025-04-04 00:00:04
5   2025-04-04 00:00:05
dtype: datetime64[ns]

In [52]:
fechas = pd.Series(pd.date_range("20250404", periods=6, freq="7D"))
fechas

0   2025-04-04
1   2025-04-11
2   2025-04-18
3   2025-04-25
4   2025-05-02
5   2025-05-09
dtype: datetime64[ns]

In [63]:
type(fechas)

pandas.core.series.Series

In [57]:
ruta = "C:/DS Python/D2Mercad-Valores-ES.csv"
df = pd.read_csv(ruta)
df.head(10)

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,02/01/2019,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,03/01/2019,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,04/01/2019,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,07/01/2019,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,08/01/2019,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409
5,ANA,09/01/2019,77.64,78.24,111912,8661432.24,77.64,78.82,76.60,77.3950
6,ANA,10/01/2019,78.74,77.64,76146,5983497.62,78.74,78.88,77.52,78.5793
7,ANA,11/01/2019,79.08,78.74,86809,6860996.34,79.08,79.70,78.54,79.0355
8,ANA,14/01/2019,79.28,79.08,97419,7700806.90,79.28,79.62,78.32,79.0483
9,ANA,15/01/2019,80.00,79.28,71241,5681059.56,80.00,80.00,79.32,79.7442

In [59]:
 df["Fecha"][0]

'02/01/2019'

In [61]:
type( df["Fecha"][0])

str

In [87]:
df["Fecha"] = pd.to_datetime(df["Fecha"], format = "%d/%m/%Y")
df

,Ticker,Fecha,Cierre,Referencia,Volumen,Rotacion,Ultimo,Alto,Bajo,Promedio
0,ANA,2019-01-02,74.80,73.90,156300,11621188.98,74.80,75.16,72.38,74.3518
1,ANA,2019-01-03,76.34,74.80,140331,10632703.64,76.34,76.60,74.54,75.7687
2,ANA,2019-01-04,76.62,76.34,130309,10010838.76,76.62,77.40,76.40,76.8162
3,ANA,2019-01-07,77.14,76.62,63349,4855724.92,77.14,77.30,75.62,76.6504
4,ANA,2019-01-08,78.24,77.14,99300,7749464.70,78.24,78.46,77.00,78.0409
...,...,...,...,...,...,...,...,...,...,...
8570,VIS,2019-12-09,48.70,48.76,40236,1958325.66,48.70,48.96,48.44,48.6710
8571,VIS,2019-12-10,48.16,48.70,60198,2895965.78,48.16,48.74,47.70,48.1201
8572,VIS,2019-12-11,47.96,48.16,63000,3012462.12,47.96,48.42,47.52,47.8169
8573,VIS,2019-12-12,48.42,47.96,50218,2429199.80,48.42,48.66,47.76,48.3731
8574,VIS,2019-12-13,48.64,48.42,62427,3038685.10,48.64,49.18,48.12,48.6758

In [93]:
df["Fecha"][0]

Timestamp('2019-01-02 00:00:00')

In [95]:
type(df["Fecha"][0])

pandas._libs.tslibs.timestamps.Timestamp

In [103]:
df["Fecha"][4]

Timestamp('2019-01-08 00:00:00')

In [105]:
df["Fecha"][4].year

2019

In [107]:
df["Fecha"][4].month

1

In [109]:
df["Fecha"][4].day

8

In [111]:
df["Fecha"][4].hour

0

In [113]:
df["Fecha"][4].second

0

In [117]:
df["Fecha"][4].minute

0