In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
    "Impares": [1, 3, 5, 7],
    "Pares": [2, 4, 6, 8]
})
df

   Impares  Pares
0        1      2
1        3      4
2        5      6
3        7      8

In [7]:
array_np = df.values
array_np

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]], dtype=int64)

In [15]:
array_np2 = df.to_numpy
print(array_np2)

<bound method DataFrame.to_numpy of    Impares  Pares
0        1      2
1        3      4
2        5      6
3        7      8>

In [17]:
np.sqrt(df)

    Impares     Pares
0  1.000000  1.414214
1  1.732051  2.000000
2  2.236068  2.449490
3  2.645751  2.828427

In [19]:
np.max(df)

8

In [21]:
np.mean(df)

4.5

In [25]:
array_np = df.values
array_np

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]], dtype=int64)

In [27]:
df_desde_np = pd.DataFrame(array_np)
df_desde_np

   0  1
0  1  2
1  3  4
2  5  6
3  7  8

In [29]:
df_desde_np = pd.DataFrame(array_np, columns=['Impareee', 'Pareeeee'])
df_desde_np

   Impareee  Pareeeee
0         1         2
1         3         4
2         5         6
3         7         8